[package]
name = "r3_portkit"
version = "0.2.1"
description = "Utilities for writing a port of R3"
categories = ["embedded", "no-std"]
keywords = ["r3", "simulator"]

edition.workspace = true
license.workspace = true
repository.workspace = true

[features]
# Used for documentation builds [ref:doc_feature]
doc = ["svgbobdoc/enable"]

[dependencies]
r3_core_ks = { workspace = true }
r3_kernel = { workspace = true }

num-rational = { version = "0.4.0", default-features = false }
svgbobdoc = { version = "0.3.0" }

[dev-dependencies]
quickcheck_macros = { version = "1.0.0" }
num-integer = { version = "0.1.43", default-features = false }
env_logger = { version = "0.8.4" }
quickcheck = { version = "1.0.3" }
itertools = { version = "0.10.0" }
log = { version = "0.4.8" }

[package.metadata.docs.rs]
all-features = true
targets = []
rustdoc-args = ["--html-in-header", "src/common.md"]  # [ref:doc_global_styling]
