[package]
name = "r3_port_riscv"
version = "0.2.1"
description = "RISC-V port for the R3-OS original kernel"
categories = ["embedded", "no-std"]
keywords = ["r3", "riscv"]

edition.workspace = true
license.workspace = true
repository.workspace = true

[features]
emulate-lr-sc = []
maintain-pie = []
preload-registers = []

# Enable the diagram rendering by svgbob and other stuff [ref:doc_feature]
doc = ["svgbobdoc/enable"]

[dependencies]
r3_portkit = { version = "0.2.0", path = "../r3_portkit" }
r3_kernel = { version = "0.1.0", path = "../r3_kernel" }
r3_core = { version = "0.1.0", path = "../r3_core" }

macro_find_and_replace = { version = "1.0.0" }
tock-registers = { version = "0.7.0" }
unstringify = { version = "0.1.4" }
seq-macro = { version = "0.3.0" }
svgbobdoc = { version = "0.3.0" }
macropol = { version = "0.1.3" }
riscv-rt = { version = ">= 0.6.0, < 0.9.0", optional = true }
riscv = { version = ">= 0.5.0, < 0.8.0" }

[package.metadata.docs.rs]
all-features = true
targets = []
rustdoc-args = ["--html-in-header", "src/common.md"]  # [ref:doc_global_styling]
